.box{
  background: rgb(61,9,121);
  background: linear-gradient(90deg, rgba(61,9,121,1) 0%, rgba(18,0,36,1) 0%, rgba(141,0,255,1) 100%);
  padding: 20px;
}
.box-One{
  border-radius: 10px;
  background-color: white;
}
.box-servicios{
    padding: 15px;
}
.box-servicios a{
  text-decoration: none;
  color: blue;
  text-align: center;
}